.container {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card {
  width: 100%;
  border-radius: 0.25rem;
  background-color: #fefefe;
  transition: transform 0.3s ease-in-out;
  border-radius: 0.25rem;

  &:hover {
    transform: translateY(-0.5rem);
  }

  &__title {
    padding: 0 1rem;
    font-size: 1.25rem;
  }

  &__description {
    padding: 0 1rem;
    font-size: 1rem;
  }
}

.search {
  width: 100%;
  font-size: 1.25rem;
  font-family: inherit;
  border: none;
  outline: none;
  padding: .5rem;
  border-radius: 0.25rem;
}
