/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f1f0f9;
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, .87);
  margin: 0;
  padding: 0;
}
